@import url(https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&display=swap);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url(https://i.imgur.com/fLNwXMO.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  flex-direction: column;
}

/*
 dark1 = #272727
 dark2 = #2d2d2d
 dark3 = #414141
 dark4 = #1c1c1c
 dark5 = #343434
 purple = #b040ff
*/

/* cabecalho */

#header, #navigation-header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#header {
  box-shadow: 1px 1px 4px rgba(0, 0, 0, .212);
  z-index: 1;
  background-color: #fff;
  justify-content: space-between;
  width: 100vw;
  height: 3.5rem;
  padding: 0 10%;
  animation: dark-to-light-background 0.3s ease-in-out;
}

#header i {
  cursor: pointer;
}

#navigation-header {
  gap: 3em;
  z-index: 2;
}

#navigation-header a {
  text-decoration: none;
  color: #6c63ff;
  transition: 1s;
  font-weight: bold;
}

#navigation-header a:hover {
  color: #6b63fff1;
}

.header-logo {
  width: 45px;
  border-radius: 368px;
}

.btn-icon {
  border: none;
  display: none;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
}

#header svg {
  color: black;
}

/* slideshhow */

.content {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.navigation {
  position: absolute;
  bottom: 40px;
  left: 25%;
  transform: translate(-50%);
  display: flex;
}

.bar {
  width: 70px;
  height: 17px;
  border: 2px solid white;
  margin: 3px;
  border-radius: 5px;
  cursor: pointer;
  transition: .6s;
}

.bar:hover {
  background-color: #fff;
}

.slideshow-radio {
  display: none;
}

.slides {
  display: flex;
  width: 500%;
  height: 100%;
}

.slide {
  width:20%;
  transition: .6s;
}

.slide-s1 {
  width:20%;
  transition: .6s;
}

.slide img {
  width: 100%;
  height: 100%;
}

.slide-s1 img {
  width: 100%;
  height: 100%;
}

#slide1:checked ~ .slide-s1 {
  margin-left: 0;
}

#slide2:checked ~ .slide-s1 {
  margin-left: -20%;
}

#slide3:checked ~ .slide-s1 {
  margin-left: -40%;
}

#slide4:checked ~ .slide-s1 {
  margin-left: -60%;
}

#slide5:checked ~ .slide-s1 {
  margin-left: -80%;
}

/* form */

.container {
  width: 80%;
  height: 80vh; 
  display: flex;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, .212);
  position: absolute;
  top: 12%;
}

.form-image {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#form {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  padding: 3rem;
  animation: dark-to-light-background2 0.3s ease-in-out;
}

.form-header {
  margin-bottom: 3rem;
  display: flex;
  justify-content: space-between;
}

.login-button {
  display: flex;
  align-items: center;
}

.login-button button {
  border: none;
  background-color: #6c63ff;
  padding: 0.4em 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.login-button button:hover {
  background-color: #6b63fff1;
}

.login-button button a {
  text-decoration: none;
  font-weight: 500;
  color: #fff;
}

.form-header h1::after {
  content:'';
  display: block;
  width: 5rem;
  height: 0.3rem;
  background-color: #6c63ff;
  margin: 0 auto;
  position: absolute;
  border-radius: 10px;
}

.input-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1rem 0;
}

.input-group input {
  animation: dark-to-light-background2 0.3s ease-in-out;
}

.input-box {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.1rem;
}

.input-box input {
  margin: 0.6rem 0;
  padding: 0.8rem 1.2rem;
  border: none;
  box-shadow: 10px;
  border-radius: 1px 1px 6px #0000001c;
  animation: dark-to-light-background 0.3s ease-in-out;
}

.input-box input:hover {
  background-color: #eeeeee75;
}

.input-box input:focus-visible {
  outline: 1px solid #6c63ff;
}

.input-box label,
.gender-title h6 {
  font-size: 0.75rem;
  font-weight: 600;
  color: #000000c0
}

.input-box input::placeholder {
  display: flex;
  justify-content: space-between;
  margin-top: 0.62rem;
  padding: 0 0.5rem;
}

.gender-input {
  display: flex;
  align-items: center;
}

.gender-input input {
  margin-right: 0.3rem;
}

.gender-input label {
  font-size: 0.81rem;
  font-weight: 600;
  color: #000000c0
}

.continue-button button {
  width: 100%;
  margin-top: 2.5rem;
  border: none;
  background-color: #6c63ff;
  padding: 0.6rem;
  border-radius: 5px;
  cursor: pointer;
}

.continue-button button:hover {
  background-color: #6b63fff1;
}

.continue-button button a {
  text-decoration: none;
  font-size: 0.39rem;
  font-weight: 500;
  color: #fff;
}

/* dark-theme */

.fa-sun {
  color: #fff;
}

.dark#form {
  color: #fff;
  background-color: #2d2d2d;
  animation: light-to-dark-background2 0.3s ease-in-out;
}

.dark#header {
  background-color: #2d2d2d;
  animation: light-to-dark-background 0.3s ease-in-out;
}

.dark#form .input-box label {
  color: #fff;
}

.dark#form .gender-title h6 {
  color: #fff;
}

.dark#form .gender-input label {
  color: #fff;
}

.dark#form .input-box input {
  background-color: #2d2d2d;
}

.dark#form input::placeholder {
  color: #fff;
}

.dark#header svg {
  color: #fff;
}

.dark#header a:hover {
  color: #fff;
}

.dark#form input {
  color: #fff;
  animation: light-to-dark-background 0.3s ease-in-out;
}

/* media screen  e keyframes */

@media screen and (max-width: 1330px) {
  .form-image {
    display: none;
  }
  .container {
    width: 50%;
  }
  #form {
    width: 100%;
  }
}

@media screen and (max-width: 1064px) {
  .btn-icon {
    display: block;
  }

  #navigation-header {
    position: absolute;
    flex-direction: column !important;
    top: 0;
    background-color: whitesmoke;
    height: 100%;
    width: 35vw;
    padding: 1em;
    animation-duration: .6s;
    margin-left: -100vw;
    animation: dark-to-light-background2 0.3s ease-in-out;
  }

  .dark#header #navigation-header{
    background: #414141;
    animation: light-to-dark-background2 0.3s ease-in-out;
  }
  
  .container {
    width: 90%;
    height: 70%;
    top: 20%;
  }
  
  .input-group {
    flex-direction: column;
    overflow-y: scroll;
    flex-wrap: nowrap;
    max-height: 15rem;
    padding-right: 5rem;
    padding-left: 0.5rem;
  }
  .gender-inputs {
    margin-top: 2rem;
  }
  .gender-group {
    flex-direction: column;
  }
 .gender-input {
    margin-top: 0.5rem; 
  }
}

@keyframes showSidebar {
  from {margin-left: -100vw;}
  to {margin-left: -10vw;}
}

/* dark ligh transição */

@keyframes dark-to-light-background {
  0% {
      background-color: #2d2d2d;
  }
  100.0% {
      background-color: #fff;
  }
}

@keyframes light-to-dark-background {
  0% {
      background-color: #fff;
  }
  100.0% {
      background-color: #2d2d2d; 
  }
}

@keyframes dark-to-light-background2 {
  0% {
      background-color:  #414141;
  }
  100.0% {
      background-color: whitesmoke;
  }
}

@keyframes light-to-dark-background2 {
  0% {
      background-color: whitesmoke;
  }
  100.0% {
      background-color: #414141; 
  }
}

/* fundo animado */

@keyframes move {
  100% {
      transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

.background {
  z-index: 0;
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: #3E1E68;
  overflow: hidden;
}

.background span {
  width: 42vmin;
  height: 42vmin;
  border-radius: 42vmin;
  backface-visibility: hidden;
  position: absolute;
  animation: move;
  animation-duration: 23;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}


.background span:nth-child(0) {
  color: #FFACAC;
  top: 63%;
  left: 87%;
  animation-duration: 25s;
  animation-delay: -128s;
  transform-origin: -17vw 25vh;
  box-shadow: -84vmin 0 10.808196376559964vmin currentColor;
}
.background span:nth-child(1) {
  color: #FFACAC;
  top: 91%;
  left: 18%;
  animation-duration: 120s;
  animation-delay: -43s;
  transform-origin: 0vw -13vh;
  box-shadow: 84vmin 0 10.808168892075866vmin currentColor;
}
.background span:nth-child(2) {
  color: #E45A84;
  top: 23%;
  left: 72%;
  animation-duration: 250s;
  animation-delay: -253s;
  transform-origin: -21vw -9vh;
  box-shadow: -84vmin 0 10.99837042417953vmin currentColor;
}
.background span:nth-child(3) {
  color: #E45A84;
  top: 75%;
  left: 69%;
  animation-duration: 29s;
  animation-delay: -125s;
  transform-origin: -4vw -17vh;
  box-shadow: -84vmin 0 11.135585770011637vmin currentColor;
}
.background span:nth-child(4) {
  color: #E45A84;
  top: 73%;
  left: 14%;
  animation-duration: 212s;
  animation-delay: -142s;
  transform-origin: 11vw -14vh;
  box-shadow: -84vmin 0 11.481916721943739vmin currentColor;
}
.background span:nth-child(5) {
  color: #583C87;
  top: 96%;
  left: 63%;
  animation-duration: 109s;
  animation-delay: -150s;
  transform-origin: -19vw 25vh;
  box-shadow: -84vmin 0 11.362339047892428vmin currentColor;
}
.background span:nth-child(6) {
  color: #FFACAC;
  top: 65%;
  left: 50%;
  animation-duration: 94s;
  animation-delay: -60s;
  transform-origin: 12vw -9vh;
  box-shadow: -84vmin 0 10.881329844619623vmin currentColor;
}
.background span:nth-child(7) {
  color: #583C87;
  top: 77%;
  left: 12%;
  animation-duration: 105s;
  animation-delay: -164s;
  transform-origin: 22vw 0vh;
  box-shadow: -84vmin 0 11.474813153721485vmin currentColor;
}
.background span:nth-child(8) {
  color: #583C87;
  top: 92%;
  left: 52%;
  animation-duration: 177s;
  animation-delay: -215s;
  transform-origin: 3vw -12vh;
  box-shadow: -84vmin 0 11.371613434511833vmin currentColor;
}
.background span:nth-child(9) {
  color: #FFACAC;
  top: 29%;
  left: 34%;
  animation-duration: 152s;
  animation-delay: -234s;
  transform-origin: 1vw 25vh;
  box-shadow: -84vmin 0 10.755016712178541vmin currentColor;
}
.background span:nth-child(10) {
  color: #E45A84;
  top: 99%;
  left: 24%;
  animation-duration: 222s;
  animation-delay: -267s;
  transform-origin: 22vw 15vh;
  box-shadow: 84vmin 0 10.6353980326856vmin currentColor;
}
.background span:nth-child(11) {
  color: #FFACAC;
  top: 46%;
  left: 3%;
  animation-duration: 34s;
  animation-delay: -42s;
  transform-origin: 11vw 3vh;
  box-shadow: -84vmin 0 11.228898228205965vmin currentColor;
}
.background span:nth-child(12) {
  color: #E45A84;
  top: 39%;
  left: 20%;
  animation-duration: 115s;
  animation-delay: -121s;
  transform-origin: 23vw 14vh;
  box-shadow: -84vmin 0 10.829195783562618vmin currentColor;
}
.background span:nth-child(13) {
  color: #FFACAC;
  top: 33%;
  left: 26%;
  animation-duration: 68s;
  animation-delay: -244s;
  transform-origin: 8vw 3vh;
  box-shadow: -84vmin 0 11.268875942140742vmin currentColor;
}
.background span:nth-child(14) {
  color: #FFACAC;
  top: 20%;
  left: 73%;
  animation-duration: 54s;
  animation-delay: -47s;
  transform-origin: 2vw 14vh;
  box-shadow: 84vmin 0 10.85613156500526vmin currentColor;
}
.background span:nth-child(15) {
  color: #FFACAC;
  top: 73%;
  left: 16%;
  animation-duration: 49s;
  animation-delay: -57s;
  transform-origin: 2vw -23vh;
  box-shadow: -84vmin 0 10.908568251405146vmin currentColor;
}
.background span:nth-child(16) {
  color: #E45A84;
  top: 3%;
  left: 53%;
  animation-duration: 108s;
  animation-delay: -7s;
  transform-origin: 4vw -22vh;
  box-shadow: 84vmin 0 10.855898591082141vmin currentColor;
}
.background span:nth-child(17) {
  color: #E45A84;
  top: 24%;
  left: 37%;
  animation-duration: 212s;
  animation-delay: -133s;
  transform-origin: -3vw 11vh;
  box-shadow: 84vmin 0 11.19359665244264vmin currentColor;
}
.background span:nth-child(18) {
  color: #E45A84;
  top: 83%;
  left: 50%;
  animation-duration: 157s;
  animation-delay: -220s;
  transform-origin: -14vw 24vh;
  box-shadow: -84vmin 0 10.91212340039555vmin currentColor;
}
.background span:nth-child(19) {
  color: #583C87;
  top: 64%;
  left: 53%;
  animation-duration: 217s;
  animation-delay: -59s;
  transform-origin: -22vw 23vh;
  box-shadow: -84vmin 0 10.689173556272214vmin currentColor;
}
.background span:nth-child(20) {
  color: #FFACAC;
  top: 72%;
  left: 6%;
  animation-duration: 224s;
  animation-delay: -12s;
  transform-origin: 22vw 14vh;
  box-shadow: -84vmin 0 11.323684928869236vmin currentColor;
}
.background span:nth-child(21) {
  color: #FFACAC;
  top: 50%;
  left: 87%;
  animation-duration: 155s;
  animation-delay: -223s;
  transform-origin: -7vw 22vh;
  box-shadow: 84vmin 0 10.661244936967377vmin currentColor;
}
.background span:nth-child(22) {
  color: #583C87;
  top: 81%;
  left: 24%;
  animation-duration: 267s;
  animation-delay: -73s;
  transform-origin: -9vw 1vh;
  box-shadow: 84vmin 0 11.015624556768413vmin currentColor;
}

